gradio>=6.0,<7
numpy>=1.25,<3
Pillow>=11,<13
einops>=0.8,<1
transformers==5.17.0
tokenizers>=0.13.3
sentencepiece>=0.2.1
safetensors>=0.6,<1
torchsde>=0.2,<1
scipy>=1.11,<2
tqdm>=4.67,<5
psutil>=6,<8
PyYAML>=6,<7
filelock>=3,<4
requests>=2.32,<3
av>=17,<19
soundfile>=0.13,<1
torchaudio>=2.10,<2.11
torchvision>=0.25,<0.26
aiohttp>=3.11,<4
yarl>=1.18,<2
kornia>=0.7,<1
pydantic>=2,<3
comfy-kitchen==0.2.35
comfy-aimdo==0.5.5
blake3>=1,<2
huggingface_hub[hf_xet]>=0.36,<2
simpleeval>=1,<2
imageio-ffmpeg>=0.6,<1
